.Logo {      
}
.master {
          display: flex;
          flex-direction: column;
          background-color:rgb(224, 246, 255);
          border-style: solid;
          border-width: 4px;
          border-color: black;
          padding: 15px;
          width: 1200px;
          height: 800px;
}

.alpha {
          display: flex;
          flex-direction: column;
          background-color: lightgray;
          border-style: solid;
          border-radius: 10px;
          border-width: 2px;
          margin: 10px;
          padding: 5px;
          font-family: sans-serif;
          height: 400px;
}

.bravo {
          display: flex;
          flex-direction: row;
          font-family: sans-serif;
}

.charlie {
          display: flex;
          flex-direction: row;
          background-color: rgb(255, 251, 251);
          border-style: solid;
          border-radius: 10px;
          border-width: 2px;
          margin: 10px;
          padding: 5px;
          font-family: sans-serif;
          height:150px;  
}

#charlie01_bravo01 {
          width: 300px;
}

#charlie02_bravo01 {
          width: 900px;
}

#charlie01_bravo02 {
          display: flex;
          flex-direction: row;
          background-color: rgb(255, 251, 251);
          border-radius: 10px;
          margin: 5px;
          padding: 5px;
          font-family: sans-serif;
          width: 1200px;
          height: 200px; 
}

footer {
          display: flex;
          flex-direction: row;
          background-color: lightgray;
          border-style: solid;
          border-radius: 10px;
          border-width: 2px;
          margin: 10px;
          padding: 5px;
          font-family: sans-serif;
          height: 50px;
}